.home-container{
    /* margin: auto;
    width: 70%;
    padding-top:30px ; */
    display: flex;
    flex-direction: row;
    
}
.intro-text{
    font-family: 'Ubuntu',sans-serif;
    font-size: 26px;
    /* display:flex; */
    flex:50% ;
}
/* .intro-head-1{
    flex:50%;
    font-size: 40px;
    font-weight: 1000;
    color:white;
}
.intro-head-2{
    font-size: 1.5rem;
    text-align: center;
    flex:20%;
    color:#319DA0;
    background-color: white;
    height: 100px;
    border-radius: 50%;
}
.intro-head-2 p{
    padding-top:17%;
} */
picture{
    align-items: center;
    flex:50%;
}

.intro-img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
@media (max-width:600px){
    .home-container{
        flex-direction: row;
        flex: 100%;
        

    }
    .intro-text{
        flex-direction: row;
        padding-bottom: 40px;

    }
    picture{
       margin: auto;
    }
}